
body {
  padding: 0;
  margin: 0;
  /* min-height: calc(var(--vh, 1vh) * 100); */
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  font-family: 'LXGW WenKai TC';
}

textarea {
  font-size: 1.25em;
  font-family: 'LXGW WenKai TC';
}

p {
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
}

#title {
  font-size: 2.1875em;
}

#author {
  font-size: 1.25em;
}

#content {
  font-size: 1.5em;
  margin-bottom: 1em;
}

#info {
  font-size: 1em;
  margin-bottom: 1em
}

#keymap {
  font-size: 1em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
  gap: 0.25em;
  margin-top: 1em;
  margin-bottom: 3em;

  .row {
    height: 2em;
    gap: 0.25em;
  }

  .r1 {
    display: grid;
    grid-template-columns: 0fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .r2 {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1em;
  }

  .r3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .r4 {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2.75fr;
  }

  .keymapKey {
    display: flex;
    background-color: #151515;
    color: #ffffff;
    border-radius: 0.625em;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    position: relative;
    transition: background-color 0.1s ease;
  }

  .keymapKey.pressed {
    background-color: green;
  }
}
